.home_screen_container{
  height: calc(100vh - 30px);
  position: relative;
  background-color: #f1f2f3;
  padding-top: 25px;
}

.home_screen_content_container{
  display: grid;
  margin-top: 30px;
  background-color: white;
  margin: 0 3%;
  padding: 30px 0;
  border-radius: 5px;
}

.home_screen_buttons_container{
  display: flex;
  flex-direction: row; 
  margin-top: 25px;
  margin-bottom: 25px;
  justify-items: center;
  margin: 0 5%;
  margin-bottom: 30px;
  height: 40px;
}
.home_screen_search_container{
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  max-width: 500px;
}

.home_screen_button_default_container{
  
}
.home_screen_button_default{
  background-color: #4361ee;
  color: white;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 15px;
  width: 173px;
  height: 40px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 10px 20px -10px #4361ee;
}
.home_screen_input_search{
  padding: 0 12px;
  height: 38px;
  border: 1px solid #e7ebf0;
  border-right: 0;
  border-radius: 3px 0 0 3px;
  color: #696c82;
}
.home_screen_input_search:focus{
  outline: none;
}
.home_screen_input_search::placeholder{
  color: #bfc9d4;
}

.home_screen_search_button{
  background-color: #4361ee;

  color: white;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 15px;
  height: 40px;
  border: none;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 10px 20px -10px #4361ee;
}

.table_info_pagination_container{
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  margin-top: 25px;
  padding: 0 3%;

}

.table_info_actual_page{

  border: 1px solid #e0e6ed;
  border-radius: 5px;
  height: 35px;
  color: #788ef3;
  display: grid;
  place-items: center;
  font-family: "Nunito";
  font-size: 14px;
}

.pagination_info{
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1.8fr 1fr;
  width: 60%;
  max-width: 250px;
  justify-self: end;

}

.left_icon_container{
  display: grid;
  place-items: center;
  height: 32px;
  width: 32px;
  background-color: #f1f2f3;
  border-radius: 50%;
}
.left_icon_container svg{
  color: #888ea8;
}

.page_container{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.label_actual_page{
  display: grid;
  place-items: center;
  height: 32px;
  width: 32px;
  background-color: #4361ee;
  border-radius: 50%;
  color: #e7ebfd;
  font-size: 15px;
  font-family: "Nunito";
}

.rigth_icon_container{
  display: grid;
  place-items: center;
  height: 32px;
  width: 32px;
  background-color: #f1f2f3;
  border-radius: 50%;
}
.rigth_icon_container svg{
  color: #888ea8;
}

.label_page{
  display: grid;
  place-items: center;
  height: 32px;
  width: 32px;
  background-color: #ebecef;
  border-radius: 50%;
  color: #888ea8;
  font-size: 15px;
  font-family: "Nunito";
}