
.table_info_table{
  width: 93%;
  margin: 0 auto;
  /* border-bottom: 1px solid black; */
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  border-radius: 5px;
  background-color: white;
}

.table_info_thead{
  background-color: #e7f7ff;

}
.table_info_tr_head{
  height: 45px;
}

/* WIDTH HEADS */
.table_info_th_15{
  width: 15%;
  color: #515365;
  font-size: 16px;
  font-family: "Nunito";

}
.table_info_th_20{
  width: 20%;
  color: #515365;
  font-size: 16px;
  font-family: "Nunito";
}

.table_info_th_10{
  width: 10%;
  color: #515365;
  font-size: 16px;
  font-family: "Nunito";
}

/* WIDTH BODYS */
.table_info_td_15{
  width: 15%;
  padding: 0 15px;
  font-size: 14px;
  font-family: "Nunito";
  font-weight: 600;
}
.table_info_td_20{
  width: 20%;
  padding: 0 15px;
  font-size: 14px;
  font-family: "Nunito";
  font-weight: 600;

}
.table_info_td_20_email_commiter{
  width: 20%;
  padding: 0 15px;
}
.table_info_td_15_date{
  width: 15%;
  padding: 0 10px;
}
.table_info_td_15_date p{
  font-size: 12px;
  font-family: "Nunito";
  font-weight: 600;
  display: grid;
  align-items: center;
}
.table_info_td_10{
  width: 10%;
  padding: 0 10px;
 

}
.table_info_td_10 a {
  font-size: 13px;
  font-family: "Nunito";
  font-weight: 600;
}
.table_td_container{
  display: grid;
  align-items: center;
}
.table_info_tr_body{
  height: 60px;
  border: 1px solid #4361ee;
}
.email_commiter_container{
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 7px;
}
.email_anchor{
  font-size: 14px;
  font-family: "Nunito";
  font-weight: 600;
  text-decoration: none;
  vertical-align: middle;

}
.image_commiter{
  width: 30px;
  height: 30px;
}


