
.loading_screen_container{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  place-items: center;
}

.show{
  display: grid;
}

.hide{
  display: none;
}

.loading_label{
  font-size: 35px;
  font-family: "Nunito";
  font-weight: 700;

}